.news {
  display: flex;
  flex-direction: row;
  flex: 0 1 100%;
  color: black;
  &_container {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  &_content {
    display: flex;
    flex-direction: column;
  }
}

//transition
$timeout: 1.1s;
.swipe_left-enter {
  position: absolute;
  transform: translateX(100%);
}

.swipe_left-enter-active {
  transform: translateX(0%);
  transition: all $timeout ease-in-out;
}

.swipe_left-exit {
  transform: translateX(0%);
}

.swipe_left-exit-active {
  position: absolute;
  transform: translateX(100%);
  transition: all $timeout ease-in-out;
}

.swipe_right-enter {
  transform: translateX(-100%);
}

.swipe_right-enter-active {
  transform: translateX(0);
  transition: all $timeout ease-in-out;
}

.swipe_right-exit {
  transform: translateX(0);
}

.swipe_right-exit-active {
  transform: translateX(-100%);
  transition: all $timeout ease-in-out;
}
