nav {
  display: flex;
  justify-content: center;
  padding: 5px 0 5px 0;

  font-size: 20px;
  background-color: #afafaf;
}

.nav_container {
  display: inline-flex;
  align-self: flex-end;
  margin: 5px;

  &,
  &__drop {
    list-style: none;
    margin-bottom: 10px;
  }

  &__drop {
    display: none;
    flex-direction: column;
    position: absolute;
    transform: translate(2%, 1%);
    box-shadow: 0px 10px 20px rgb(102, 102, 102);
    z-index: 15;
    background-color: #818181;
  }
}
