html,
body,
#root {
  width: 100%;
  height: 100%;
}

#root {
  background-color: whitesmoke;
  color: white;
  font-size: 12px;
  display: flex;
  flex-flow: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

a {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.clearfix::before,
.clearfix::after {
  content: "";
  clear: both;
}

.nowrap {
  white-space: nowrap;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}
