.header_nav_btn {
  a {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: black;
  }

  border: 1px #00000000 solid;
  margin: 5px 5px 8px 2px;
  padding: 2px 5px 2px 5px;
}

.header_nav_btn:hover {
  border: 1px #777777 solid;
  background-color: #acacac;
  color: rgb(240, 238, 238);
}
