.footer_nav {
  display: flex;
  flex-direction: column;
}

.footer_nav ul > li > a {
  padding: 10px 0px 0px 0px;
  color: #b5b5b5;
}

.footer_nav ul > li {
  list-style: none;
  padding: 5px 10px 0px 10px;
}

.footer_nav ul > li > a:hover {
  color: #e9e9e9;
}
