.footer_nav {
  display: flex;
  flex-direction: column;
  padding: 10px 0;

  &__item {
    list-style: none;
    padding: 5px 10px 0px 10px;
  }

  &__link {
    padding: 10px 0px 0px 0px;
    color: #b5b5b5;

    &:hover {
      color: #e9e9e9;
    }
  }
}
