@mixin setFont($size: 14px, $color: white, $weight: 400) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

.contact_form__body {
  display: grid;
  grid-template:
    "a" 10%
    "b" 5%
    "c" 80%
    "d" 5%;

  position: relative;
  width: 40%;
  margin: 0px 25px 0px 40px;
  border-radius: 2px;

  &__textarea {
    grid-area: c;
    padding-top: 5px;

    & textarea {
      width: 100%;
      height: 100%;
      resize: none;
    }
  }

  &__info {
    grid-area: a;
    @include setFont(24px, black);
  }

  &__maxLength {
    grid-area: b;
    display: none;
    @include setFont(16px, red, 700);
  }
}
