@mixin setFont($size: 14px, $color: white, $weight: 400, $font-family: inherit) {
  font-family: $font-family;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}
@mixin hw($height, $width) {
  height: $height;
  width: $width;
}
.contact_form__body {
  display: flex;
  flex: 0 1 50%;
  flex-direction: column;
  position: relative;
  flex-wrap: nowrap;
  @include hw(inherit, 40%);
  margin: 0px 25px 0px 40px;
  border-radius: 2px;
  &__textarea {
    @include hw(100%, 100%);
    background-color: white;
    padding: 5px;

    & textarea {
      @include hw(100%, 100%);
      resize: none;
    }
  }

  &__info {
    @include setFont(24px, black, 700);
  }

  &__maxLength {
    display: none;
    @include setFont(16px, red, 700);
  }
}
