$row-height: 250px;

.home_clients {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: $row-height;
    padding: 40px;
  }

  &__content {
    margin-top: 20px;

    &_header {
      &__name {
      }
      &__logo {
      }
    }

    &_body {
      &__information {
      }
      &__comment {
      }
    }
  }
}
